.page-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: Montserrat Black;
    text-align: center;
}

.loading-message {
    text-align: center;
    font-size: 1.2em;
    color: mediumseagreen;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Montserrat Light;
    border: 2px solid teal;
    margin: 20px 0;
}

    .product-table th,
    .product-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .product-table th {
        background-color: #f4f4f4;
        color: #333;
        text-align: left;
    }

    .product-table tr:nth-child(even) {

        background-color: #f9f9f9;
    }

    .product-table tr:hover {
        background-color: #f1f1f1;
    }
