@inherits LayoutComponentBase

<PageTitle>HTTProj</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
